:80 {
    log {
        output stdout
        level INFO
    }

    handle /auth/callback {
        root * /usr/share/caddy
        try_files {path} /index.html
        file_server
    }

    handle {
        root * /usr/share/caddy
        try_files {path} /index.html
        file_server
    }
}
